{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/discussions.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital@1&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <!--NavBar Section-->
        <div class="navbar">
            <nav>
                <ul class="nav-list">
                    <li class="nav-item"><a href="{% url 'index' %}">Home</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li class="nav-item"><a href="{% url 'register' %}">Sign Up</a></li>
                    <li class="nav-item"><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            <!-- <a class="bar-icon" id="iconBar" onclick="hideIconBar()"><i class="fa fa-bars"></i></a> -->
            <div class="brand">P2P Geeks</div>
            {% if user.is_authenticated %}
            <div style = "padding-left:5%"><a href="{% url 'create_post' %}"><button class = "btn">Create Post</button></a></div>
            {% endif %}
        </div>

    </header>
    {% if messages %}
        {% for message in messages %}
            <div style="background-color:#fff;color:#000;font-weight:bolder;padding:20px;width:100%;"> {{message}} </div>
        {% endfor %}
    {% endif %}
    {% block content %}
    {% endblock content %}
    <!-- <div style="margin-bottom: 150px;"></div> -->
    <p class="copyright">Copyright © 2023 P2P Geeks All Rights Reserved</p>
    <script src="{% static 'js/discussions.js' %}"></script>
</body>
</html>