{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>P2P Geeks</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- responsive-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- awesome fontfamily -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="" /></div>
    </div>
    <!-- end loader -->
    <div id="mySidepanel" class="sidepanel">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a class="active" href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="contact.html">Contact</a>
    </div>
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="head-top">
            <div class="container-fluid">
                <div class="row d_flex">
                    <div class="col-sm-3">
                        <div class="logo">
                            <a href="{% url 'index' %}">P2P Geeks</a>
                        </div>
                    </div>
                    
                    <div class="col-sm-5">
<!--                        <ul class="social_icon text_align_right d_none">
                            <li> <a href="Javascript:void(0)"><i class="fa fa-facebook-f"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li> <a href="Javascript:void(0)"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul> -->
                    </div>

                    <div class="col-sm-4">
                        <ul class="email text_align_right">
                            
                            <!-- <li class="d_none"> <a href="Javascript:void(0)"><i class="fa fa-search" style="cursor: pointer;" aria-hidden="true"></i></a> </li> -->
                        {% if request.user.is_authenticated %}
                            <li class="d_none"><a href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                            <li class="nav-item"><a href="{% url 'interviews' %}" ></a></li>
                            <li class="nav-item"><a href="{% url 'connect' %}" style="color: white;">Connect</a></li>
                            <li class="nav-item"><a href="{% url 'logout' %}" style="color: white;">Logout</a></li>
                        {% endif %}
                            <!-- <li>
                                <button class="openbtn" onclick="openNav()"><img src="{% static 'images/menu_btn.png' %}"></button>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <!-- start slider section -->
    <div id="top_section" class=" banner_main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="container-fluid">
                                    <div class="carousel-caption relative">
                                        <div class="row d_flex">
                                            <div class="col-md-6">
                                                <div class="con_img">
                                                    <figure><img class="img_responsive" src="{% static 'images/p2pgeekslogowbg-removebg-preview.png' %}" alt="#" /></figure>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="bluid">
                                                    <h1>P2P Geeks:<br> Your Guide To Interview Success</h1>
                                                    <p>Prepare efficiently for software engineering roles through mock interviews 
                                                    </p>
                                                    {% if not request.user.is_authenticated %}
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                            <div class="sign_up">
                                                                <a class="read_more" href="{% url 'register' %}">Sign Up</a>
                                                            </div>
                                                        </div>
                                                            <div class="col-md-6">
                                                                <div class="log_in">
                                                                    <a class="read_more" href="{% url 'login' %}">Login</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end slider section -->
    <!-- wallet -->
    <div class="wallet">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'interviews' %}">
                    <div id="wa_hover" class="wallet_box text_align_center" style="height: 200px">
                        <!-- <i><img src="images/wa1.svg" alt="#"/></i> -->
                        <h3>Mock Interviews</h3>
                        <p>Be on both sides of the interview process by participating and leading mock interviews</p>
                    </div>
                    </a>    
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'connect' %}">
                    <div id="wa_hover" class="wallet_box text_align_center" style="height: 200px">
                        <!-- <i><img src="images/wa2.svg" alt="#"/></i> -->
                        <h3>Connect</h3>
                        <p>Join mindlikes, connect with like-minded individuals, and collaboratively foster personal growth</p>
                    </div>
                    </a>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <a href="https://leetcode.com">
                    <div id="wa_hover" class="wallet_box text_align_center" style="height: 200px">
                        <!-- <i><img src="images/wa3.svg" alt="#"/></i> -->
                        <h3>Practice</h3>
                        <p>Practice technical questions alone prior to facing an interview from a myriad of problems</p>
                    </div>
                </a>
                </div>
                
                <div class="col-lg-3 col-sm-6" >
                    <a href="{% url 'forums' %}">
                    <div id="wa_hover" class="wallet_box text_align_center" style="height: 200px">
                        <!-- <i><img src="images/wa4.svg" alt="#"/></i> -->
                        <h3>Discussion Board</h3>
                        <p>Spark a converstion and speak with others about tips and tricks you've learned along the way</p>

                    </div>
                    </a>
                </div>
            </a>
            </div>
        </div>
    </div>
    <!-- end wallet -->
    <!-- about -->
    <div id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="about_border">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="titlepage text_align_left">
                                    <h2>About Us</h2>
                                </div>
                                <div class="about_text">
                                    <p>P2P Geeks was designed and developed by a group of undergraduate computer science students looking for a better way to prepare for interviews. The team has analyzed various studies and experiences to truly understand the reasons this process has been so daunting and difficult. Performance anxiety was identified as one of the primary causes for failing a technical interview, and so the team decided that the best way to attack that issue was to offer a solution that enables applicatns to perform in real-time for free.</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="about_img">
                                    <figure><img class="img_responsive" src="{% static 'images/p2pgeekslogowbg-removebg-preview.png' %}" alt="#" /></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact -->
<!--     <div class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>Get in Contact With Us!</h2>
                    </div>
                </div>
                <div class=" col-md-10 offset-md-1">
                    <form id="request" class="main_form">
                        <div class="row">
                            <div class="col-md-6 ">
                                <input class="contactus" placeholder="Full Name" type="type" name="Full Name">
                            </div>
                            <div class="col-md-6">
                                <input class="contactus" placeholder="Email" type="type" name="Email">
                            </div>
                            <div class="col-md-6">
                                <input class="contactus" placeholder="Phone number" type="type" name="Phone number">
                            </div>
                            <div class="col-md-6">
                                <textarea class="textarea" placeholder="Message" type="type" Message="Name"></textarea>
                            </div>
                            <div class="col-md-12">
                                <button class="send_btn">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
 -->
    <p class="copyright">Copyright © 2023 P2P Geeks All Rights Reserved</p>
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>
   </body>
</html>