{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <!-- Include necessary CSS files for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags}}">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            <form method="POST">
                <!-- Include CSRF token here -->
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit" name="profile_update">Update</button>
                </div>
            </form> 
            <br> <br>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Add New Skill!</legend>
                    {{ s_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit" name="skill_update">Add</button>
                </div>
            </form>
                <br> <br>
                <h4>My Skills:</h4>
                <div>
                    {% for skill in skill_set %}
                        <button type="button" class="btn btn-lg btn-primary" style="margin-bottom: 5px;" disabled="true">{{skill}}</button>
                    {% endfor %}
                </div>

          </div>
        </div>
      </main>
</body>
</html>
