{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Interviews</title>
    <!-- Include necessary CSS files for styling -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .profile-card {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #f9f9f9;
        }

        .profile-card h5 {
            margin-bottom: 5px;
        }

        .container {
            max-width: 2000px;
        }
        .profile-card .badge {
            margin-left: 5px;
        }

        .profile-card .rating {
            color: #FFD700;
        }
    </style>
</head>
<body>
    <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags}}">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
            
            <!-- UPCOMING INTERVIEWS -->
            <h3 style="color: black;">View your upcoming interviews</h3>
            <div class="profile-card">
                <ul class="list-group">
                   {% for interview in upcoming_list %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <!-- Profile Information -->
                        <div> 
                            <h5 class="mb-0">{{ interview.interviewer.username }} and {{ interview.requesting_user.username }}</h5> 
                            <span class="badge badge-info badge-pill">{{ interview.interview_date }}</span> 
                            <p class="text-secondary">{{ interview.requesting_user.profile.zoom_meeting_link }}</p>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>

            <!-- PAST INTERVIEWS  -->
            <h3 style="color: black;">Past interviews you Scheduled</h3>
            <div class="profile-card">
                <ul class="list-group">
                    {% for interview in past_meetings %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <!-- Profile Information -->
                        <div> 
                            <h5 class="mb-0">{{ interview.interviewer.username }} and {{ interview.requesting_user.username }}</h5> 
                            <span class="badge badge-info badge-pill">{{ interview.interview_date }}</span> 
                            <div class="rating">
                                <i class="fas fa-star"></i> <!-- Star icon for rating -->
                                <span>{{ interview.rating }}/5</span> <!-- Overall rating -->
                            </div>
                            <p class="text-secondary">{{ interview.review }}</p>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>

            <!-- PAST INTERVIEWS TO REVIEW -->
            <h3 style="color: black;">Past interviews To Leave Feedback For</h3>
            <div class="profile-card">
                <ul class="list-group">
                    {% for interview in to_review %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <!-- Profile Information -->
                        <div> 
                            <h5 class="mb-0">{{ interview.interviewer.username }} and {{ interview.requesting_user.username }}</h5> 
                            <span class="badge badge-info badge-pill">{{ interview.interview_date }}</span> 
                        </div>

                        <form method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-warning" name="id" value="{{interview.id}}">Review</button>
                        </form>
                    </li>
                {% endfor %}
                </ul>
            </div>
            
            
            <!-- Form for leaving reviews -->
            <div class="content-section">
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Done reviewing your interviews? <a class="ml-2" href="{% url 'index' %}">Return Home</a>
                    </small>
                </div>
            </div>
          </div>
        </div>
      </main>
    <!-- Include necessary JS files for functionality -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

