{% extends 'users/users_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Profile{% endblock %}
{% block content %}
    <main role="main" class="container-fluid" style="color: white;">
        <div class="row">
            <div class="col-md-2">
                {% if messages %}
                <div class="position-absolute" style="top: 0; left: 0;">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <br> <br>
                <form method="POST">
                    <!-- Include CSRF token here -->
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Profile Info</legend>
                        {{ u_form|crispy }}
                        {{ p_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit" name="profile_update">Update</button>
                    </div>
                </form> 
            </div>
            <!-- Skill update and list --> 
            <div class="col-md-4">
                <br> <br>
              <div class="row">
                <div class="col-md-10">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Add New Skill!</legend>
                            {{ s_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit" name="skill_update">Add</button>
                        </div>
                    </form>
                    <br> <br>
                    <h4>My Skills:</h4>
                    <div>
                        {% for skill in skill_set %}
                            <button type="button" class="btn btn-lg btn-primary" style="margin-bottom: 5px;" disabled="true">{{skill}}</button>
                        {% endfor %}
                    </div>
                </div>
              </div>
            </div>
            <!-- Interest update and list -->
            <div class="col-md-4">
                <br> <br>
                <div class="row">
                  <div class="col-md-10">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Add New Interest!</legend>
                            {{ i_form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit" name="interest_update">Add</button>
                        </div>
                    </form>
                        <br> <br>
                        <h4>My Interests:</h4>
                        <div>
                            {% for interest in interest_set %}
                                <button type="button" class="btn btn-lg btn-success" style="margin-bottom: 5px;" disabled="true">{{interest}}</button>
                            {% endfor %}
                        </div>
                  </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}